{%extends 'index.html'%}

{% load static %}

{%block content%}

<div
    class="relative  py-14 px-14 bg-[url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlMjBfM2RfbW9kZXJuX3dhdmVfY3VydmVfYWJzdHJhY3RfaGFsZnRvbmVfZ3JhZGllbl8xZTJhY2M3Mi1jZTU3LTQ0NjItOGQzNS1lOTI4YzI5NzcxMTdfMS5qcGc.jpg)] bg-center bg-cover">
    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <input type="text" id="table-search" onkeyup="search_table()"
                class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search for items">
        </div>
    </div>
    <table id="myTable" class="w-full text-sm text-left rtl:text-right  text-gray-400">
        <thead class="text-xs uppercase  bg-gray-700 text-gray-400 text-center">
            <tr>

                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Full Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Profile Image
                </th>
                <th scope="col" class="px-6 py-3">

                    Edited On
                </th>
                <th scope="col" class="px-6 py-3">
                    Date Of Join
                </th>
                <th scope="col" class="px-6 py-3">
                    Active
                </th>
                <th scope="col" class="px-6 py-3">
                    Staff
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {%for user in users%}
            <tr
                class="mytr text-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600 items-center">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.email}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.username}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.fullname}}
                </th>

                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.phonenumber}}
                </th>

                <th scope="row" class="px-6 py-4 font-medium  text-gray-900 whitespace-nowrap dark:text-white">
                    {% if user.profile_img %}
                    <div
                        class="relative w-full h-24   outline-solid outline-2 outline-blue-500 rounded-2xl overflow-hidden">
                        <img src="{{ user.profile_img.url }}" alt="Profile image" class="absolute  object-fill">
                    </div>


                    {% else %}
                    <span>No profile image</span>
                    {% endif %}
                </th>

                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.edited_on}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.date_joined}}
                </th>

                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {%if user.is_active%}
                    <span class="text-yellow-500">Active</span>
                    {%else%}
                    <span class="text-red-500">Not Active</span>
                    {%endif%}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {%if user.is_staff and not user.is_superuser%}
                    <span class="text-yellow-500">Staff</span>
                    {%elif user.is_superuser%}
                    <span class="text-yellow-500">Admin</span>
                    {%else%}
                    <span class="text-red-500">User</span>
                    {%endif%}
                </th>
                <td class="px-6 py-4">
                    <div class="flex justify-evenly items-center">

                        <div>
                            <form method="get" action="{%url 'admin_edit_url' user.id %}">
                                <button type="submit"
                                    class="focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Edit</button>
                            </form>
                        </div>
                        <div>
                            <form method="post" action="{% url 'admin_delete_url' user.id %}">
                                {%csrf_token%}
                                <button type="submit"
                                    class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Delete</button>
                            </form>
                        </div>
                    </div>

                </td>


            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script src="{% static '/js/script.js' %}"></script>
{%endblock%}