{% extends 'index.html' %}


{%block content%}
<div class=" w-full flex justify-center items-center min-h-screen bg-[url(https://i.redd.it/new-and-slightly-older-discord-login-screen-as-a-png-v0-zznw60dgve3d1.png?width=1600&format=png&auto=webp&s=8c9aac38a07b339966ff21fb76e12ef551d6a9c2)] bg-no-repeat bg-center bg-cover ">
<div class="flex flex-col justify-center items-center  mx-4 md:w-3xl w-full    space-y-4 bg-gray-100/30 p-4 rounded-2xl shadow-md/25">
    <p class="font-medium text-2xl">Forgot Password?</p>
    <p>
        Remembering your Password?
        <span>
            <a href="{% url 'login_url' %}" class="text-blue-600 underline hover:text-blue-900">
                Click me
            </a>
        </span>
    </p>
    <form method="post" class="flex gap-3 w-full flex-col ">
        {%csrf_token%}
        {{form}}
        <button type="submit"
            class="text-white self-center bg-blue-900 w-50 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">Submit</button>
    </form>

</div>
</div>



{%endblock%}