{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}

    <title>{% block title %} Index {%endblock%}</title>
  </head>

  <style>
    /* Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  </style>

  <body>
    {%include 'navbar.html'%}

    <div class="flex justify-center items-center min-h-screen py-10">
      {% block content %} {% endblock %}
    </div>

    {%include 'footer.html'%}
  </body>
</html>
