{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% tailwind_css %}

  <title>{% block title %} Index {%endblock%}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>


<body class="flex flex-col min-h-screen">


  {%include 'navbar.html'%}



  <main class="flex-grow">

    {% block content %} {% endblock %}
  </main>



  {%include 'footer.html'%}
  </div>



</body>


</html>