{%extends 'index.html' %}



{%block content%}
<div class="bg-gray-100 shadow-lg w-md rounded-lg">
    <form id="otp-form" method="post" class="flex gap-3 flex-col">

        {% csrf_token %}
        <div class="flex justify-center flex-col items-center">
            <p class="text-2xl font-bold my-2">Reset Your Password</p>
            {{form}}
        </div>
        <div class="w-full flex justify-center mb-5">
            <button type="submit"
                class="max-w-[260px] inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150">
                Reset Password</button>
        </div>
    </form>
</div>


{%endblock%}